@font-face {
  src: url("fonts/Linotte/Linotte Bold.otf");
  font-family: linotte_bold;
}

@font-face{
  src:url("fonts/Comfortaa-Bold.ttf");
  font-family: comfortaa_bold;
}


h1{
  position: relative;
  font-family: linotte_bold;
  left: 20px;
}


.navigationBar{
  width: 100%;
  height: 44px;

  min-width: 760px;

  text-align: center;
  white-space: nowrap;
  letter-spacing: 50px;

  background-color: #2D3436;
  position: sticky;
}

#navigationBar_homeIcon{
  position: relative;
  left: 8px;
  top: 4px;
  float: left;
  display: inline-block;

  min-width: 24px;
  min-height: 24px;
  max-width: 36px;
  max-height: 36px;

  width: 36px;
  height: 36px;

  margin-right: 20px;
}

#navigationBar_homeIcon img {
  width: 100%;
  height: 100%;
}

.navigationBar_options{
  float:left;

  height:44px;
  letter-spacing: normal;
  display: inline;

  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul{
  position: relative;
}

ul li {
  float: right;

  width: 160px;
  height: 44px;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: comfortaa_bold;
  transition: 0.9s;
  text-decoration: none;
}

li a:hover{
  background-color: #111;
}

ul li:nth-child(4).active ~ .slide {
  left: 0;
  opacity: 1;
}
ul li:nth-child(3).active ~ .slide {
  left: 160px;
  opacity: 1;
}
ul li:nth-child(2).active ~ .slide {
  left: 320px;
  opacity: 1;
}
ul li:nth-child(1).active ~ .slide {
  left: 480px;
  opacity: 1;
}

.slide {
  position: absolute;
  width: 160px;
  height: 44px;
  top: 0;
  left: 0;
  background: #111;
  z-index: -1;
  transition: 0.5s;
  opacity: 0.5;
}

#trendingPlantsDivContainer{
  position: relative;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 50px;

/*
  border-color: #FF0000;
  border-style: solid;
*/
  width:90%;
  height: 40%;
  top: 40px;
  left: 20px;

  margin-right: 20px;
}

.trendingPlantDiv {
  position: relative;
  letter-spacing: normal;
  white-space: normal;
  display: inline-block;
  vertical-align: center;
}

#trendingPlant1{
  /*
  border-color: #00ff00;
  border-style: dotted;
  */
  width: 45%;
  min-width: 250px;
}

#trendingPlant2{
  /*
  border-color: #0000ff;
  border-style: dotted;
  */
  width: 45%;
  min.width: 250px;
}
