@font-face{
  src: url(/fonts/Comfortaa-Bold.ttf);
  font-family: comfortaa_bold;
}

@font-face{
  src: url("/fonts/Linotte/Linotte Light.otf");
  font-family: linotte_light;
}

@font-face{
  src: url("/fonts/Comic/comic.ttf");
  font-family: comic_sans_ms;
}

@font-face{
  src: url("/fonts/Comic/comic_extrabold.ttf");
  font-family: comic_extrabold;
}

*{
  padding: 0px;
  margin: 0px;
}

.content{
/*
  border-style: dotted;
  border-color: #ff0000;
*/
  min-width: 326px;

  /*
  margin-right: 8px;
  margin-left: 8px;
  */
}

.navbar-bran {
  margin-left: 8px;
}

.additionalInfo{
  /*
  border-style: dotted;
  border-color: #0000ff;
  */
  padding-left: 8px;
}

.contsearch:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.contsearch {
  padding: 0;
}

.gsearch {
  padding: .75rem 1.25rem;
  display: block;
  color: #333333;
}

.gsearch:hover {
  text-decoration: none;
  color: #000000;
}

.form-control{
  border-radius: 4px;
}

.cover-photo-div{
  width: 100%;
}

.article-cover-photo {
  max-width: 50px;
  max-height: 50px;
}
